<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Simple Video Downloader" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Simple Video Downloader">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if notice.present? %>
      <div class="notice" style="color: green;"><%= notice %></div>
    <% end %>
    <% if alert.present? %>
      <div class="alert" style="color: red;"><%= alert %></div>
    <% end %>
    <div class="navigation">
      <%= link_to "Home", root_path %>
      <%= link_to "Videos", videos_path %>
      <% if current_user.present? %>
        <%= link_to "Logout", session_path(current_user.id), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to logout?" } %>
      <% else %>
        <%= link_to "Create an Account", new_user_path %>
        <%= link_to "Login", new_session_path %>
      <% end %>
    </div>

    <%= yield %>
  </body>

  <footer>
    <blockquote>
        <p>"For he hath made him to be sin for us, who knew no sin; that we might be made the righteousness of God in him."</p>

        <cite>2 Corinthians 5:21 KJV</cite>
    </blockquote>
  </footer>
</html>
